body {
    background: url("witcher3 main page.png") no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    padding: 20px 20px 0px 20px;
}

h1, h2, td, th {
    color: white;
    text-align: center;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse:collapse;

}

th, td {
    border:2px;
    border-style:solid;
    border-color: black;
}

#decoctions {
    background-color:rgba(0, 0, 0, 0.5);
}