{% extends "layout.html" %}

{% block title %}
    BF1
{% endblock %}

{% block main %}
    <head>
        <!-- <script src="/static/js/bfv.js"></script> -->
    </head>

    <div class="flex-column">
        <div class="flex-column">
            <span class="white" id="text-align-center">Score:</span>
            <span class="white" id="text-align-center">Number of weapons left: current #/ total #</span>
        </div>
    
        <div>
            <button class="btn btn-secondary btn-sm border-dark">Start</button>
            <button class="btn btn-secondary btn-sm border-dark">Quit</button>
        </div>
        <div class="flex-column pt-3">
            <button class="btn btn-secondary btn-sm border-dark mb-2">Hints: {{3}}</button>
            <span class="white" id="text-align-center">Lives:{{3}}</span>
        </div>
        <div>
            <!-- I'll need a fixed size with the weapons, depending on what gets shown, the padding/margin is different.  -->
            <!-- 255x255 seems to be the largest. Majority of the guns are 255x85 -->
            <img src="/static/images/bfvImages/easy/{{ weapons[0]['id'] }}.png">
        </div>
        <div class="flex-row">
            <input id="bfvInput" class="form-control form-control-md" placeholder="Type Weapon Name">
            <button type="submit" class="btn btn-secondary btn-sm border-dark">Submit</button>
        </div>
        <div id="autoCompleteList" class="flex-column">
        </div>
    </div>
{% endblock %}