{% extends "layout.html" %}

{% block title %}
    BFV
{% endblock %}

{% block main %}
    <head>
        <script src="/static/js/bfv.js"></script>
    </head>

    <div class="">
        <h1>hello</h1>
        <p>Use grid and/or flexbox</p>
        <p>At the top of the page:</p>
        <ul>
            <li>Start button</li>
            <li>Stop button</li>
        </ul>
        <p>Around the middle of the page:</p>
        <ul>
            <li>Lives</li>
            <li>image of weapon</li>
            <li>input box</li>
            <li>Submit button</li>
        </ul>
        <p>Somewhere on the page include:</p>
        <ul>
            <li>Score</li>
            <li>Number of weapons left</li>
        </ul>

        <p>Optional features that might be a good idea</p>
        <ul>
            <li>Hint button? Have 3 hints at the start</li>
            <li>Hint button will trigger a random helper such as:</li>
            <li>What rifle type, start/end letter and how many letters (list more if I can think of any)</li>
            <li>Every 3 guesses, replenish a health and hint</li>
        </ul>
    </div>

{% endblock %}