{% extends "layout.html" %}

{% block title %}
    BFV
{% endblock %}

{% block main %}
    <head>
        <script src="/static/js/bfv.js"></script>
    </head>


    <div class="flex-column">
        {% if data %}
        <div class="flex-column">
            <span class="white score" id="text-align-center">Score: {{ data["current_score"] }}</span>
            <span class="white current-weapon" id="text-align-center">Number of weapons left: {{ data["current_weapon"] }}/{{ data["total_weapons"] }}</span>
        </div>
    
        <div>
            <button id="start-btn" class="btn btn-secondary btn-sm border-dark" data-bs-toggle="modal" data-bs-target="#myModal">Start</button>
            <button class="btn btn-secondary btn-sm border-dark">Quit</button>
        </div>
        <div class="flex-column pt-3">
                <button class="btn btn-secondary btn-sm border-dark mb-2 hints" value="{{ hints }}">Hints: {{ data["hints"] }}</button>
                <input type="hidden" name="hints" value="{{ hints }}" id="hints">
                <span class="white lives" id="text-align-center" value="{{ lives }}">Lives: {{ data["lives"] }}</span>
                <input type="hidden" name="lives" value="{{ lives }}" id="lives">
        </div>
        <div>
            <img src="/static/images/bfvImages/{{ data['weapon']['encrypted_image_name'] }}" id="weaponImage">
        </div>
        {% else %}
        <div class="flex-column">
            <span class="white" id="text-align-center">Score:</span>
            <span class="white" id="text-align-center">Number of weapons left:</span>
        </div>
    
        <div>
            <button id="start-btn" class="btn btn-secondary btn-sm border-dark" data-bs-toggle="modal" data-bs-target="#myModal">Start</button>
            <button class="btn btn-secondary btn-sm border-dark">Quit</button>
        </div>
        <div class="flex-column pt-3">
                <button class="btn btn-secondary btn-sm border-dark mb-2" value="{{ hints }}">Hints:</button>
                <input type="hidden" name="hints" value="{{ hints }}" id="hints">
                <span class="white" id="text-align-center" value="{{ lives }}">Lives:</span>
                <input type="hidden" name="lives" value="{{ lives }}" id="lives">
        </div>
        <div>
            <img src="/static/images/bfvImages/{{ weapon['encrypted_image_name'] }}" id="weaponImage">
        </div>
        {% endif %}


        <form>
            <div class="flex-row">
                <input id="bfvInput" class="form-control form-control-md" name="weaponNameInput" placeholder="Type Weapon Name">
                <button type="submit" id="submitWeaponNameBtn" class="btn btn-secondary btn-sm border-dark">Submit</button>
            </div>
        </form>
        <div id="autoCompleteList" class="flex-column">
        </div>
    </div>


  
  <!-- Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Choose a difficulty</h4>
            <button type="button" class="close" onclick="document.getElementById('myModal').style.display = 'none'">&times;</button>
        </div>
        <!-- Modal body -->
        <form id="bfv_mode_form" method="post">
            <div class="modal-body">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="mode" id="easy" value="easy" checked>
                    <label class="form-check-label" for="easy">
                        Easy (Main rifles only)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="mode" id="medium" value="medium">
                    <label class="form-check-label" for="medium">
                        Medium (Rifles, melee and sidearms)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="mode" id="hard" value="hard">
                    <label class="form-check-label" for="hard">
                        Hard (Rifles, melee, sidearms and gadgets)
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="submit-form" class="btn btn-secondary btn-sm border-dark">Submit</button>
                </div>  
            </div>
        </form>
        </div>
    </div>
</div>


{% endblock %}

