{% extends "layout.html" %}

{% block title %}
    BFV
{% endblock %}

{% block main %}
    <head>
        <script src="/static/js/bfv.js"></script>
    </head>

    <div class="flex-column">
        <div class="one">
            <p id="text-align-center">Score:</p>
            <p id="text-align-center">Number of weapons left: current #/ total #</p>
        </div>
    
        <div class="two">
            <button class="btn btn-secondary btn-sm border-dark">Start</button>
            <button class="btn btn-secondary btn-sm border-dark">Quit</button>
        </div>
        <div class="three">
            <p id="text-align-center">Lives:{{insert}}</p>
        </div>
        <div>
            <img src="https://eaassets-a.akamaihd.net/battlelog/battlebinary/gamedata/Casablanca/28/90/MG42-1ca6b52d.png">
        </div>
        <div class="flex-row">
            <input class="form-control form-control-md" placeholder="Type Weapon Name">
            <button type="submit" class="btn btn-secondary btn-sm border-dark">Submit</button>
        </div>
    </div>

    <div>
        <p>Optional</p>
        <button>Hint</button>
    </div>
{% endblock %}