{% extends "layout.html" %}

{% block custom_scripts %}
    <link href="/static/css/game_over.css" rel="stylesheet">
{% endblock %}

{% block title %}
    Game Over
{% endblock %}

{% block main %}
<!--
Game over/winner feature
Redirect user to game_over.html if they either win or lose the game
The page should have:
    Message statement for winner/loser
    Show what mode was played
        Might need to create a session["mode"] if it's easier to code with it
    Show which BF game was played 
        Might need to create a session["BF_game"] or a similar name
    Show score over total weapon for either win/lose case. 
        User session["current_score"] and session["total_weapons"]
    Play again button
        redirect to games.html
    Quit button
        redirect to index.html -->
    <div id="game-over-page" class="white flex-column">
        {% if data["current_score"] == data["total_weapons"] %}
            <h1>Congratulations! You won!</h1>
        {% else %}
            <h1>Unlucky, You lost!</h1>
        {% endif %} 
        <div class="game-over-table mb-5 mt-5">
            <table class="game-over-table">
                <tr>
                    <th>Username</th>
                    <th>{{ data["username"] }}</th>
                </tr>
                <tr>
                    <th>Mode</th>
                    <th>{{ data["mode"] }}</th>
                </tr>
                <tr>
                    <th>Game</th>
                    <th>{{ data["BF_game"] }}</th>
                </tr>
                <tr>
                    <th>Score</th>
                    <th>{{ data["current_score"] }}/{{ data["total_weapons"] }}</th>
                </tr>
            </table>
        </div>
        <div class="flex-row">
            <button onclick="window.location.href='/games'" class="btn btn-secondary btn-sm border-dark">Play Again</button>
            <button onclick="window.location.href='/'" class="btn btn-secondary btn-sm border-dark">Quit</button>    
        </div>
    </div>
        


{% endblock %}