{% extends "layout.html" %}

{% block title %}
    Battlefield Trivia Game - Guess the Weapon!
{% endblock %}

{% block main %}
<h3 class="gamePageHeading white">Click on a card to play!</h3>
<div id="container">
        
    <div class="card gray">
        <h3 class="card-title">Battlefield 4</h1>
        <a href="/bf4"><img class="card-image" src=""></a>
    </div>

    <div class="card gray">
        <h3 class="card-title">Battlefield 1</h1>
        <a href="/bf1"><img class="card-image" src="{{ images['bf1'] }}"></a>
    </div>

    <div class="card gray">
        <h3 class="card-title">Battlefield V</h1>
        <a href="/bfv"><img class="card-image" src="{{ images['bfv'] }}"></a>
    </div>

    <div class="card gray">
        <h3 class="card-title">Battlefield 2042</h1>
        <a href="/bf2042"><img class="card-image" src="{{ images['bf2042'] }}"></a>
    </div>
</div>



{% endblock %}

