#profile-page {
    width: 50%;
    margin: auto;
}

table.profile-table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    background-color: #1d1d1d;
    color: white;
    font-size: 16px;
}

table.profile-table th,
table.profile-table td {
  padding: 10px;
  text-align: center;
  border-right: 1px solid #444444;
}

table.profile-table th {
  background-color: #333333;
  font-weight: bold;
}

table.profile-table tr:hover {
  background-color: #333333;
}

h1 {
    text-align: center;
}

#details-container {
    width: 100%;
}

#score-tables  {
    width: 100%;
}

.row-heading {
    min-height: 10%;
    line-height: 10%;
}

.score-cells {
    min-height: 5%;
    line-height: 10%;
    border-top: 1px solid #444444;
}

.date-cells {
    min-height: 5%;
    line-height: 10%;
    border-top: none;
}

@media screen and (max-width: 1000px) {
    #profile-page {
        width: 100%;
        margin-left: none;
        margin-right: none;
    }
}