{% extends "layout.html" %}

{% block custom_scripts %}
    <script src="/static/js/profile.js"></script>
    <link href="/static/css/profile.css" rel="stylesheet">

{% endblock %}

{% block title %}
  Profile
{% endblock %}

{% block main %}
<!-- Copying template from account.handlebars from COMPSCI719 final project -->
<div id="profile-page" class="white flex-column">
  <div id="details-container" class="flex-column">
      <h1>My Details</h1>  
      <div class="">
        <table id="profile-table" class="">
          <tr>
            <th class="text-align-end">Email:</th>
            <td class="text-align-start">{{ usersData["email_address"] }}</td>
          </tr>
          <tr>
            <th class="text-align-end">Username:</th>
            <td class="text-align-start">{{ usersData["username"] }}</td>
          </tr>
        </table>  
      </div>
      <div class="flex-row">      
        <button class="btn btn-secondary btn-sm border-dark" onclick="window.location.href='/edit-account'">Edit Account</button>
        <button class="btn btn-secondary btn-sm border-dark" data-bs-toggle="modal" data-bs-target="#changePassword">Change Password</button>
        <button id="delete-account-button" class="btn btn-secondary btn-sm border-dark" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">Delete Account</button>
      </div>
  </div>

  <div id="score-tables">
    <div class="mt-5">
      <h1>High score</h1>
      <table id="high-score-table" class="profile-table">
      </table>
    </div>
  
    <div id="games-history-div" class="mt-5">
      <h1>Games History</h1>
      <table id="games-history-table" class="profile-table">
        <tr>
          <th>Date</th>
          <th>Mode</th>
          <th>BF Game</th>
          <th>Score</th>
          <th>Total Weapon</th>
        </tr>
      {% for game in games %}
        <tr>
          <td>{{ game["game_date"] }}</td>
          <td>{{ game["mode"] }}</td>
          <td>{{ game["BF_game"] }}</td>
          <td>{{ game["score"] }}</td>
          <td>{{ game["total_weapons"] }}</td>
        </tr>
      {% endfor %}
      </table>
    </div>
  
  </div>

  <div class="modal" id="changePassword">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header">
                <h4 class="modal-title black">Enter current password, new password and repeat new password.</h4>
                <button id="modal_close_btn" type="button" class="close">&times;</button>
            </div>
            <!-- Modal body -->
            <form id="change-password-form" action="change-password" method="post">
              <div class="modal-body">
                <button type="submit" id="change-password-button-modal" class="btn btn-secondary btn-sm border-dark">Change password</button>
                <button type="button" id="change-password-cancel-btn-modal" class="btn btn-secondary btn-sm border-dark close">Cancel</button>
            </div>
            </form>
        </div>
    </div>
  </div>

  <div class="modal" id="deleteAccountModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header">
                <h4 class="modal-title black">Are you sure you want to delete your account? All your game logs will be deleted.</h4>
                <button id="modal_close_btn" type="button" class="close">&times;</button>
            </div>
            <!-- Modal body -->
            <form id="delete-account-form" action="delete-account" method="post">
              <div class="modal-body">
                <button type="submit" id="delete-account-button-modal" class="btn btn-secondary btn-sm border-dark">Delete Account</button>
                <button type="button" id="quit-modal-cancel-btn-modal" class="btn btn-secondary btn-sm border-dark close">Cancel</button>
            </div>
            </form>
        </div>
    </div>
  </div>

</div>

{% endblock %}