{% extends "layout.html" %}

{% block custom_scripts %}
    <script src="/static/js/bfv.js"></script>
{% endblock %}

{% block title %}
    BFV
{% endblock %}

{% block main %}
    <div class="flex-column">
        {% if data %}
        <div class="flex-column">
            <span class="white score" id="text-align-center">Score: <span id="score-value">{{ data["current_score"] }}</span></span>
            <span class="white current-weapon" id="text-align-center">Current weapon: {{ data["current_weapon"] }}/{{ data["total_weapons"] }}</span>
        </div>
    
        <div>
            <button id="start-btn" class="btn btn-secondary btn-sm border-dark" data-bs-toggle="modal" data-bs-target="#myModal">Start</button>
            <button id="bfv-quit-btn" class="btn btn-secondary btn-sm border-dark" data-bs-toggle="modal" data-bs-target="#quitModal">Quit</button>
        </div>
        <div class="flex-column pt-3">
                <button type="submit" id="hintBtn" class="btn btn-secondary btn-sm border-dark mb-2 hints" value="{{ hints }}">Hints: <span id="hint-value">{{ data["hints"] }}</span></button>
                <span class="white lives" id="text-align-center" value="{{ lives }}">Lives: <span id="lives-value">{{ data["lives"] }}</span></span>
        </div>
        <div id="imageContainer">
            <img src="/static/images/bfvImages/{{ data['weapon']['encrypted_image_name'] }}" id="weaponImage">
        </div>
        {% else %}
        <div class="flex-column">
            <span class="white" id="text-align-center">Score:</span>           
            <span class="white" id="text-align-center">Current Weapon:</span>
        </div>
    
        <div>
            <button id="start-btn" class="btn btn-secondary btn-sm border-dark" data-bs-toggle="modal" data-bs-target="#myModal">Start</button>
            <button id="bfv-quit-btn" class="btn btn-secondary btn-sm border-dark" data-bs-toggle="modal" data-bs-target="#quitModal">Quit</button>
        </div>
        <div class="flex-column pt-3">
                <button type="submit" id="hintBtn" class="btn btn-secondary btn-sm border-dark mb-2" value="{{ hints }}">Hints:</button>
                <span class="white" id="text-align-center" value="{{ lives }}">Lives:</span>
        </div>
        <div id="imageContainer">
            <img src="/static/images/bfvImages/{{ weapon['encrypted_image_name'] }}" id="weaponImage">
        </div>
        {% endif %}

        <div id="notification-display" class="white" style="height:40px">
            <!-- When hint button clicked, display weapon type of the image. -->
        </div>

        <form>
            <div class="flex-row">
                <div id="input-and-autocomplete-list">
                    <input id="bfvInput" class="form-control form-control-md" name="weaponNameInput" placeholder="Type Weapon Name">
                    <div id="autoCompleteList" class="flex-column auto-complete-list"></div>
                </div>
                {% if play_state == True %}
                <div id="submit-btn-container">
                    <button type="submit" id="submitWeaponNameBtn" class="btn btn-secondary btn-sm border-dark" autofocus>Submit</button>
                </div>
                {% else %}
                <div>
                    <button type="submit" id="submitWeaponNameBtn" class="btn btn-secondary btn-sm border-dark" hidden disabled>Submit</button>
                </div>
                {% endif %}
            </div>
        </form>

    </div>


  
  <!-- Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Choose a difficulty</h4>
            <button id="modal_close_btn" type="button" class="close">&times;</button>
        </div>
        <!-- Modal body -->
        <form id="bfv_mode_form" method="post">
            <div class="modal-body">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="mode" id="easy" value="easy">
                    <label class="form-check-label" for="easy">
                        Easy (Main rifles only)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="mode" id="medium" value="medium">
                    <label class="form-check-label" for="medium">
                        Medium (Rifles, melee and sidearms)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="mode" id="hard" value="hard">
                    <label class="form-check-label" for="hard">
                        Hard (Rifles, melee, sidearms and gadgets)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="mode" id="test" value="test">
                    <label class="form-check-label" for="test">
                        Test (Delete this, get_test_weapon on get_weapon_data.py, elif mode == "test" and if mode == "test" on bfv.py later)
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="submit-form" class="btn btn-secondary btn-sm border-dark">Submit</button>
                </div>  
            </div>
        </form>
        </div>
    </div>
</div>

<div class="modal" id="quitModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header">
                <h4 class="modal-title">Are you sure you want to quit? The game won't be recorded.</h4>
                <button id="modal_close_btn" type="button" class="close">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <button id="quit-modal-quit-btn" class="btn btn-secondary btn-sm border-dark">Quit</button>
                <button id="quit-modal-cancel-btn" class="btn btn-secondary btn-sm border-dark close">Cancel</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}
