{% extends "layout.html" %}

{% block title %}
    Battlefield Trivia Game - Guess the Weapon!
{% endblock %}

{% block main %}
<p>Click on an image to play!</p>
<div id="container">
        
    <div class="card gray">
        <h3 class="card-title">Battlefield 4</h1>
        <a href="#"><img class="card-image" src="https://static.wikia.nocookie.net/battlefield/images/b/bf/BF3_CASPIAN_BORDER.PNG/"></a>
    </div>

    <div class="card gray">
        <h3 class="card-title">Battlefield 1</h1>
        <a href="#"><img class="card-image" src="https://media.contentapi.ea.com/content/dam/bf/common/bf1xp4-caporetto-vista-2-web.jpg.adapt.crop16x9.652w.jpg"></a>
    </div>

    <div class="card gray">
        <h3 class="card-title">Battlefield V</h1>
        <a href="#"><img class="card-image" src="https://media.contentapi.ea.com/content/dam/bf/common/maps/bf-full-bleed-maps-norway-narvik.jpg"></a>
    </div>

    <div class="card gray">
        <h3 class="card-title">Battlefield 2042</h1>
        <a href="#"><img class="card-image" src="https://media.contentapi.ea.com/content/dam/battlefield/battlefield-2042/maps/common/bf-2042-section-bg-map-orbital-xl.jpg.adapt.320w.jpg"></a>
    </div>

    <!-- <img src="https://trackercdn.com/cdn/battlefieldtracker.com/assets/bfv/maps/MP_IwoJima.jpg">
    <img src="https://static.wikia.nocookie.net/battlefield/images/2/25/BF5_Iwo_Jima_Promotional.jpg/">
    <img src="https://media.contentapi.ea.com/content/dam/legacy/ea/battlefield-portal/features/Maps/bf1_maps_suez_canal_expanded_large.jpg.adapt.crop16x9.652w.jpg"> -->
</div>



{% endblock %}

