{% extends "layout.html" %}

{% block title %}
    Battlefield Trivia Game - Guess the Weapon!
{% endblock %}

{% block main %}
<p>Click on an image to play!</p>
<div id="container">
        
    <div class="card gray">
        <h3 class="card-title">Battlefield 4</h1>
        <a href="/bf4"><img class="card-image" src=""></a>
    </div>

    <div class="card gray">
        <h3 class="card-title">Battlefield 1</h1>
        <a href="/bf1"><img class="card-image" src="{{ images['bf1'] }}"></a>
    </div>

    <div class="card gray">
        <h3 class="card-title">Battlefield V</h1>
        <a href="/bfv"><img class="card-image" src="{{ images['bfv'] }}"></a>
    </div>

    <div class="card gray">
        <h3 class="card-title">Battlefield 2042</h1>
        <a href="/bf2042"><img class="card-image" src="{{ images['bf2042'] }}"></a>
    </div>

    <!-- <img src="https://trackercdn.com/cdn/battlefieldtracker.com/assets/bfv/maps/MP_IwoJima.jpg">
    <img src="https://static.wikia.nocookie.net/battlefield/images/2/25/BF5_Iwo_Jima_Promotional.jpg/">
    <img src="https://media.contentapi.ea.com/content/dam/legacy/ea/battlefield-portal/features/Maps/bf1_maps_suez_canal_expanded_large.jpg.adapt.crop16x9.652w.jpg"> -->
</div>



{% endblock %}

